<div class="wrapper">
  <!-- Sidebar Holder -->
  <app-sidenav></app-sidenav>

  <!-- Page Content Holder -->
  <div class="mainContent" style="width: 100%">
    <app-login-header></app-login-header>
    <div class="profileDivison">
      <div class="row">
        <div class="col-lg-offset-1 col-md-2 col-lg-1 col-sm-4 col-xs-4 profileLogoview">
          <span class="imageBox">
            <img src="../../../assets/images/avatar.PNG" class="img-rounded profilelogo">
          </span>
        </div>
        <div class="col-md-4  col-lg-3 col-sm-8 col-xs-8 ">
          <span class="detailsBox">
            <h4>Mohit Kumar</h4>
            <h6>CEO, Connecsi Ltd.</h6>
            <h6>Subscription Type:Basic</h6>
          </span>
        </div>
        <div class="col-md-6  col-lg-6 col-sm-12 col-xs-10">
          <span class="profileBox">
            <h3>Accounts:</h3>
            <div id="menu-outer">
              <div class="table">
                <ul id="horizontal-list">
                  <li>

                    <span class="fa fa-facebook"></span>

                  </li>
                  <li>
                    <span class="fa fa-twitter"></span>
                  </li>
                  <li>
                    <span class="fa fa-instagram"></span>
                  </li>
                  <li>
                    <span class="fa fa-youtube-square"></span>
                  </li>
                </ul>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="profileDivison">
      <form [formGroup]="brandDetilas" method="post" class="formCustomStyle">
        <div class="row spacingTitle">
          <h4>Personal Information</h4>
        </div>
        <div class="row spacingsetting">
          <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="title" class="col-form-label">*First Name:</label>
              <input type="text" class="form-control" formControlName="first_name" required="required" name="title" id="title" placeholder="First Name"
                required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">*Last Name:</label>
              <input type="text" class="form-control" required="required" formControlName="last_name" name="last_name" id="title" placeholder="Last Name"
                required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">*Business Email:</label>
              <input type="text" class="form-control" required="required" formControlName="email_id" name="email" id="title" placeholder="Email Id"
                required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Position:</label>
              <input type="text" class="form-control" formControlName="position" name="position" id="title" placeholder="Position">
            </div>
          </div>
          <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="title" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" formControlName="phone" name="phone" id="title" placeholder="Phone">
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">*Passsword:</label>
              <input type="text" class="form-control" required="required" name="passsword" id="passsword" placeholder="Passsword" required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">*Confirm Password:</label>
              <input type="text" class="form-control" required="required" name="title" id="passsword" placeholder="Confirm Passsword" required>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row spacingTitle">
          <h4>Company Information</h4>
        </div>
        <div class="row spacingsetting">
          <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="title" class="col-form-label">*Company Name:</label>
              <input type="text" class="form-control" formControlName="company_name" required="required" name="title" id="title" placeholder="Company Name"
                required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">*Country:</label>
              <select class="form-control" formControlName="country">
                <option value="">Select country</option>
                <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">City:</label>
              <input type="text" class="form-control" formControlName="city" name="title" id="title" placeholder="City">
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Business Sector</label>
              <input type="text" class="form-control" name="title" id="title" formControlName="business_sector" placeholder="Business Sector">
            </div>
          </div>
          <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="title" class="col-form-label">URL:</label>
              <input type="text" class="form-control" required="required" name="title" id="title" placeholder="Title" required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">*No of Employees:</label>
              <input type="number" class="form-control" required="required" name="title" id="title" formControlName="no_of_employees" placeholder="No of Employees"
                required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Budget(Monthly):</label>
              <input type="text" class="form-control" required="required" name="title" id="title" formControlName="monthly_budget" placeholder="Budget(Monthly)"
                required>
            </div>
          </div>
        </div>
        <div class="row spacingsetting">
          <button type="submit" class="btn btn-primary btn-block loginButton" (click)="updatebrandUserUser(brandDetilas)">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
