.profileDivison {
  width: 90%;
  background-color: #FFFFFF;
  margin-top: 48px;
  margin-left: 5%;
}

.imageBox {
  width: 250px;
  padding: 19px;
}

.detailsBox {
  width: 500px;
  padding: 19px;
  max-width: 100%;
}

.profileBox {
  float: right;
  padding: 19px;
  text-align: center;
  max-width: 100%;
}

.profilelogo {
  height: 85px;
  width: 85px;
  border-radius: 100px;
}

.wrapper {
  background-color: #E6E6E6;
}

#menu-outer {
  height: 84px;
}

.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
}

ul#horizontal-list li {
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 48px;
  color: #696969;
  border: 3px solid #E6E6E6;
  border-radius: 100px;
}

ul#horizontal-list li span {
  height: 60px;
  width: 60px;
}

.spacingsetting {
  margin-left: 24px;
  margin-right: 24px;
}

.spacingTitle {
  padding-top: 12px;
  margin-left: 40px;
}

@media (max-width: 500px) {
  ul#horizontal-list {
    text-align: left;
    padding-left: 0px;
  }
  ul#horizontal-list li {
    font-size: 32px;
  }
  ul#horizontal-list li span {
    height: 40px;
    width: 40px;
  }
  .profileLogoview {
    text-align: center;
  }
  .detailsBox {
    text-align: center;
  }
}
