.headerStyle {
  justify-content: center;
}

.headerBox {
  background-color: #EEEEEE;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 12px;
  padding-top: 12px;
  max-width: 90%;
  width: 800px;
  text-align: center;
}

.logoDesing {
  margin-left: 10px;
  background: -webkit-linear-gradient(#A4428B, #732BBF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subdivisonStyle {
  justify-content: center;
  margin-top: 12px;
  background-color: #EEEEEE;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 96%;
}

.registrationfield {
  width: 100%;
}

.FormCustomonzation {
  width: 100%;
  padding-top: 24px;
}

.formfiled {
  width: 75%;
  margin-left: 12%;
  float: left;
}

.alertLable {
  color: #dc3545;
  float: left;
  margin-left: 12px;
  font-size: 24px;
}

.spacingRow {
  margin-top: 12px;
  margin-bottom: 12px;
}

.termsCondition {
  justify-content: center;
}

.customlable {
  font-weight: 100;
}

.changeColor {
  color: #8EABDF;
}

.signupButton {
  font-weight: bold;
  color: #FAF50B;
  background-color: #732BBF;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2rem;
  float: right;
}

.linkedinBox {
  float: left;
  padding-top: 9px;
}

.customlinked {
  height: 45px;
  width: 45px;
  position: relative;
  margin-left: 24px;
  float: left;
}

.linesubdivison {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 2px solid rgba(0, 0, 0, .5);
  margin-left: 6%;
  margin-right: 6%;
}

.loginButton {
  font-weight: bold;
  color: #FAF50B;
  background-color: #732BBF;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2rem;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .headerBox {
    max-width: 87%;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 766px) {
  .subdivisonStyle {
    max-width: 87%;
  }
}

@media (max-width: 768px) {
  .headerBox {
    max-width: 92%;
  }
  .headerStyle {
    justify-content: left;
    margin-left: 0px;
  }
  .headerBox {
    justify-content: left;
  }
  .subdivisonStyle {
    justify-content: left;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .signupButton{
    float: none
  }
  .linkedinBox{
    margin-left: 29%;
  }
  .bannerFont{
    font-size: 1.1rem;
  }
}