<div class="well headercustom">

  <span class="imageBox">
    <img src="../../../assets/images/logo.PNG">


  </span>
  <span class="progileBox">
    <ul>
      <li class="dropdown" style="text-align: center">
        <strong id="togelMenu">
          <img src="../../../assets/images/avatar.PNG" class="img-rounded profilelogo">
        </strong>
        <ul id="subMenulist" class="dropdown-menu">
          <li>
            <a routerLink="/">View Profile</a>
          </li>
          <li>
            <a routerLink="/">Settings</a>
          </li>
          <li>
            <a routerLink="/">Help</a>
          </li>
          <li>
            <a (click)="logout()">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </span>
</div>
