<div class="wrapper">
  <!-- Sidebar Holder -->
  <app-sidenav></app-sidenav>

  <!-- Page Content Holder -->
  <div class="mainContent" style="width: 100%">
    <app-login-header></app-login-header>
    <div class="profileDivison">
      <span class="imageBox">
        <img src="../../../assets/images/avatar.PNG" class="img-rounded profilelogo">
      </span>
      <span class="detailsBox">
        <h4>Mohit Kumar</h4>
        <h6>CEO, Connecsi Ltd.</h6>
        <h6>Subscription Type:Basic</h6>
      </span>
      <span class="progileBox">
        <h6>Accounts:</h6>
        <div id="menu-outer">
          <div class="table">
            <ul id="horizontal-list">
              <li>

                <span class="fa fa-twitter"></span>

              </li>
              <li>
                <span class="fa fa-twitter"></span>
              </li>
              <li>
                <span class="fa fa-twitter"></span>
              </li>
              <li>
                <span class="fa fa-twitter"></span>
              </li>
            </ul>
          </div>
        </div>
      </span>
    </div>

  </div>
</div>
