<div class="wrapper">
  <!-- Sidebar Holder -->
  <app-sidenav></app-sidenav>

  <!-- Page Content Holder -->
  <div class="mainContent" style="width: 100%">
    <app-login-header></app-login-header>
    <div class="profileDivison">
      <div class="row">
        <div class= "col-lg-offset-1 col-md-2 col-lg-1 col-sm-4 col-xs-4 profileLogoview">
          <span class="imageBox">
            <img src="../../../assets/images/avatar.PNG" class="img-rounded profilelogo">
          </span>
        </div>
        <div class="col-md-4  col-lg-3 col-sm-8 col-xs-8 ">
          <span class="detailsBox">
            <h4>Mohit Kumar</h4>
            <h6>CEO, Connecsi Ltd.</h6>
            <h6>Subscription Type:Basic</h6>
          </span>
        </div>
        <div class="col-md-6  col-lg-6 col-sm-12 col-xs-10">
          <span class="profileBox">
            <h3 >Accounts:</h3>
            <div id="menu-outer">
              <div class="table">
                <ul id="horizontal-list">
                  <li>

                    <span class="fa fa-facebook"></span>

                  </li>
                  <li>
                    <span class="fa fa-twitter"></span>
                  </li>
                  <li>
                    <span class="fa fa-instagram"></span>
                  </li>
                  <li>
                    <span class="fa fa-youtube-square"></span>
                  </li>
                </ul>
              </div>
            </div>
          </span>
        </div>
      </div>

    </div>
  </div>
