.profileDivison {
  width: 100%;
  height: 156px;
  background-color: #E6E6E6;
  margin-top: 48px;
}

.imageBox {
  width: 250px;
  padding: 19px;
}

.progileBox {
  float: right;
  width: 250px;
  padding: 19px;
}

.profilelogo {
  height: 85px;
  width: 85px;
  border-radius: 100px;
  margin-left: 22%;
}

.wrapper {
  background-color: aqua;
}
