<div class="wrapper">
  <!-- Sidebar Holder -->
  <app-sidenav></app-sidenav>

  <!-- Page Content Holder -->
  <div class="mainContent" style="width: 100%">
    <app-login-header></app-login-header>
    <div class="row buttonBox">
      <div class="col-xs-6 col-lg-6 col-sm-6 col-md-6">
        <button type="button" class="btn btn-default btn-2">Search
        </button>
      </div>
      <div class="col-xs-6 col-lg-6 col-sm-6 col-md-6">
        <button type="button" class="btn btn-default btn-1">Create
        </button>
      </div>
    </div>
  </div>
</div>
