<nav id="sidebar" [ngClass]="{'active': classTogal }">
  <div id=test class="sidebar-header" (click)="sidenavBar()">
    <h3>
      <span class="imageBox">
        <img src="../../../assets/images/logo.PNG">
      </span>
    </h3>
    <strong>
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a>
        <i class="glyphicon glyphicon-search"></i>
        <label [ngStyle]="{'display':classTogal ? 'none' : 'inline-block' }" class="tag">Search</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-briefcase"></i>
        <label [ngStyle]="{'display':classTogal ? 'none' : 'inline-block' }">About</label>
      </a>
      <a>
        <i class="glyphicon glyphicon-duplicate"></i>
        <label [ngStyle]="{'display':classTogal ? 'none' : 'inline-block' }">Pages</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-link"></i>
        <label [ngStyle]="{'display':classTogal ? 'none' : 'inline-block' }">Portfolio</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-paperclip"></i>
        <label [ngStyle]="{'display':classTogal ? 'none' : 'inline-block' }">FAQ</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-send"></i>
        <label [ngStyle]="{'display':classTogal ? 'none' : 'inline-block' }">Contact</label>
      </a>
    </li>
  </ul>

</nav>
