<nav id="sidebar" class="active">
  <div id=test class="sidebar-header">
    <h3>Admin Panel</h3>
    <strong>
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a>
        <i class="glyphicon glyphicon-search"></i>
        <label class="tag">Search</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-briefcase"></i>
        <label class="tag">About</label>
      </a>
      <a>
        <i class="glyphicon glyphicon-duplicate"></i>
        <label class="tag">Pages</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-link"></i>
        <label class="tag">Portfolio</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-paperclip"></i>
        <label class="tag">FAQ</label>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-send"></i>
        <label class="tag">Contact</label>
      </a>
    </li>
  </ul>

</nav>
